{% extends "nav_panel.html" %}
{% load app_buttons %}

{% block main %}
  <style type="text/css">
    h2 { margin-bottom: 0.5em; }
    .span4 { margin-bottom: 1em; }
  </style>
  <div class="row">
    <div class="span4"><h2>Newest Releases</h2></div>
    <div class="span4" style="text-align: right; margin-top: 1.0em;">
      <a href="{% url 'getstarted' %}" class="btn btn-warning">Get Started with the App Store &raquo;</a>
    </div>
  </div>
  <div class="row">{% app_buttons latest_apps %}</div>
  <div class="row">
    <div class="span8" style="text-align: right;">
      <a href="{% url 'all_apps'%}#newest release">more newest releases &raquo;</a>
    </div>
  </div>

  <div class="row"><div class="span8"><h2>Top Downloaded Apps</h2></div></div>
  <div class="row">{% app_buttons downloaded_apps %}</div>
  <div class="row">
    <div class="span8" style="text-align: right;">
      <a href="{% url 'all_apps'%}#downloads">more top downloads &raquo;</a>
    </div>
  </div>

  <a style="display: none;" href="/media/fu.txt">fu skript kiddiez</a>
{% endblock %}
